{% set portfolios = block.portfolioSelector.limit(4).all() %}

{% embed '_components/section'
	with {
		paddingX: 'flush',
		paddingY: 'sectionPadding',
		maxWidth: true,
		class: 'bg-white'
	}
%}
	{% block sectionContent %}
		<div class="columns-1 gap-[30px] md:columns-2">
			<div class="mb-[80px] break-inside-avoid">
				<!-- Section Title & Description -->
				{% if block.title|length %}
					{% include '_components/heading' with {
						text: block.title,
						size: '6xl',
						class: 'text-dark font-bold mb-6',
						tag: 'h3'
					} only %}
				{% endif %}

				{% if block.portfolioDescription|length %}
					{% include '_components/richText' with {
						style: 'p',
						class: 'text-dark font-medium text-blue-800',
						content: block.portfolioDescription
					} %}
				{% endif %}
			</div>

			<!-- Projects Grid -->
			{% for item in portfolios %}
				{% set portfolioEntry = item.portfolio.one() %}
				{% set portfolioTags = portfolioEntry.portfolioTag.all() %}
				<div class="mb-[80px] break-inside-avoid">
					<div class="relative overflow-hidden rounded-[30px]">
						{% include '_components/picture' with {
							image: portfolioEntry.portfolioImage.one() ? portfolioEntry.portfolioImage.one().url : 'path/to/default-image.jpg',
							transform: 'noRatio',
							ratio: false,
							focalPoint: true,
							loading: 'lazy',
							imgClass: 'w-full h-auto max-w-md mx-auto'
						} %}
						<!-- Tags Display -->
						<div class="absolute left-[24px] top-[24px] flex gap-[12px]">
							{% if portfolioTags|length %}
								{% for tag in portfolioTags %}
									<span class="rounded-60 text-dark bg-[#FFFFFFF5] px-6 py-4 text-base font-medium">{{ tag.title }}</span>
								{% endfor %}
							{% endif %}
						</div>
					</div>
					<div class="mt-4">
						<p class="text-dark mb-2 text-sm font-normal">
							{{ portfolioEntry.portfolioDate|date('d M Y') }} • {{ portfolioEntry.title }}
						</p>
					</div>
				</div>
			{% endfor %}

			<!-- Button Section -->
			<div class="mt-[50px] flex break-inside-avoid flex-col items-end justify-end text-end">
				{% include '_components/heading' with {
					text: 'More Good Stuff',
					size: '6xl',
					class: 'text-dark font-bold mb-8',
					tag: 'h3'
				} only %}
				{% if block.button.url|length %}
					{% include '_components/buttons/buttonBlock' with {
						text: block.button.text,
						type: 'a',
						size: 'large',
						style: 'green',
						rounded: true,
						icon: 'arrow-right',
						url: block.button.url
					} %}
				{% endif %}
			</div>
		</div>
	{% endblock %}
{% endembed %}
