@import 'components/formie.pcss';
@import 'components/richText.pcss';

@tailwind base;
@tailwind components;

@layer components {
	::selection {
		@apply bg-black text-white;
	}
}

@tailwind utilities;
